.loading{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
}
.loading > div {
    width: 10vmax;
    height: 10vmax;
    border-bottom: 5px solid rgb(17, 16, 17);
    border-radius: 50%;
    animation : rotateLoader 800ms linear infinite; 
}

@keyframes rotateLoader {
    to{
        transform: rotateZ(-360deg);
    }
}