.cart-container{
    padding-top: 7.5vmax;
}
.cart-container > .cart-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cart-container > .cart-heading > h1{
    font-size: 2.4vmax;
    padding-bottom: 1.5vmax;
    width: 20vmax;
    border-bottom: 1px solid black;
}
.cart-container > .cart-main-block {
    margin: 2.4vmax;
    display: flex;
    justify-content: center;
}
.cart-container > .cart-main-block > .cart-empty-container{
    background-color: white;
    width: 55%;
    border-radius: 12px;
    border: 1px solid black;
}
.cart-container > .cart-main-block > .cart-empty-container > img{
    width: 100%;
    object-fit: cover;
}
.cart-container > .cart-main-block > .cart-items-container{
    margin: 0 2vmax;
    display: flex;
    flex-direction: column;
    gap: 1vmax;
}
.cart-container > .cart-main-block > .cart-checkout-container{
    width: 30%;
}
.cart-container > .cart-main-block > .cart-checkout-container > div{
    border: 1px solid grey;
    padding: 1.5vmax;
    background-color: white;
    border-radius: 5px;
}
.cart-container > .cart-main-block > .cart-checkout-container > div > .cart-checkout-heading > h1{
    font-size: 2.1vmax;
}
.cart-container > .cart-main-block > .cart-checkout-container > div > .cart-price-container{
    display: flex;
    align-items: center;
    gap: 2vmax;
    padding: 1.5vmax 0;
}
.cart-price-container > .items-quantity > p{
    font-size: 1.2vmax;
}
.cart-price-container > h2{
    font-size: 1.6vmax;
}
.cart-checkout-container > div > .checkout-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-checkout-container > div > .checkout-button{
    border: none;
    border-style: none;
    border-radius: 0.5vmax;
    font-size: 1.2vmax;
    background-color: rgba(137, 43, 226, 0.87);
    color: rgba(255, 255, 255, 0.904);
    padding: 0.8vmax 3vmax;
    transition: all 0.3s;
}
.cart-checkout-container > div > .checkout-button:hover{
    background-color: blueviolet;
    color: white;
}
@media screen and (max-width : 620px) {

    .cart-container > .cart-main-block {
        flex-direction: column;
        align-items: center;
        gap: 2vmax;
    }
    .cart-container > .cart-main-block > .cart-empty-container{
        width: 80%;
    }
    .cart-container > .cart-main-block > .cart-items-container{
        width: 75%;
    }
    .cart-container > .cart-heading > h1{
        font-size: 3vmax;
    }  
    .cart-container > .cart-main-block > .cart-checkout-container{
        width: 70%;
    }
    .cart-container > .cart-main-block > .cart-checkout-container > div > .cart-checkout-heading > h1{
        font-size: 2.5vmax;
    }  
    .cart-price-container > .items-quantity > p{
        font-size: 1.7vmax;
        font-weight: 500;
    }
    .cart-checkout-container > div > .checkout-button{
        font-size: 1.4vmax;
    }
    .cart-price-container > h2{
        font-size: 1.9vmax;
    }
}
@media screen and (max-width : 400px){
    .cart-container > .cart-main-block > .cart-items-container{
        width: 85%;
    }
    .cart-container > .cart-main-block > .cart-empty-container{
        width: 85%;
    }
}
@media screen and (max-width : 300px) {
    .cart-container > .cart-main-block > .cart-items-container{
        width: 95%;
    }
    .cart-container > .cart-main-block > .cart-empty-container{
        width: 98%;
    }
}